#contactSection {
    width: 100%;
    background-color: #000000;
    margin: 0 0 5% 0;
}

#contactHeader {
    margin: 1% 0 0 0;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.contactRow {
    margin: 1% 0 0 0;
    padding: 0 8% 0 8%;
    color: #FFFFFF;
    font-size: 40px;
}

#formColumn {
    padding: 0 20px 0 0;
    font-size: 30px;
}