#collabSection {
    margin-top: 40px;
    width: 100%;
    background-color: #000000;
}

#collabHeader {
    margin: 1% 0 0 8%;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
}

#collabCardRow {
    padding: 0 7.5% 0 7.5%;
}