#userGreetingContainer {
    position: absolute;
    top: 2%;
    left: 10%;
}

.userGrettingHeader {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 500;
}

.emphasisText {
    color: #00FFFF;
}

#typistGreetingContainer {
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}