#lightCycleContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 75%;
    z-index: 10;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

#gridContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    overflow: hidden;
}

#aboutContainer{
    height: 45vh;
    margin: 0;
    background-color: #000000;
}

#portFolioContainer {
    height: 50vh;
    margin: 0;
    background-color: #FFFFFF;
}

#footerContainer{
    width: 100%;
    height: 100px;
    background-color: #121212;
    position: relative;
    top: 100%;
    color: #FFFFFF;
}

/* font-family: 'Audiowide', cursive; */
/* Need to add media queries */
/* (min-width: 1500px) example */