.formField {
    background-color: #242424 !important;
    border: none !important;
    color: #FFFFFF !important;
}

.notMsgBox {
    height: 50px !important;
}

.msgSuccess {
    color: #00FFFF !important;
    font-size: 1rem !important;
    margin: 0;
}

.msgNotSuccess {
    color: #FF1C6A !important;
    font-size: 1rem !important;
    margin: 0;
}

.formSubmitBtn {
    float: right;
    background-color: #000000 !important;
    border-color: #00FFFF !important;
    color: #00FFFF !important;
    margin: 0 0 10% 0;
}

.formSubmitBtn:hover {
    background-color: #00FFFF !important;
    color: #000000 !important;
}

/* Media Queries Section */
@media screen and (max-width: 1800px) {
    .msgSuccess, .msgNotSuccess, .formSubmitBtn, .formField {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 1200px) {
     .msgSuccess, .msgNotSuccess, .formSubmitBtn, .formField {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 900px) {
     .msgSuccess, .msgNotSuccess, .formSubmitBtn, .formField {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 600px) {
     .msgSuccess, .msgNotSuccess, .formSubmitBtn, .formField {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 599px) {
     .msgSuccess, .msgNotSuccess, .formSubmitBtn, .formField {
        font-size: 12px !important;
    }

    .notMsgBox {
        height: 35px !important;
    }

    #validationContainer {
        text-align: center;
        height: 25px;
    }

    #submitButtonContainer {
        text-align: center;
    }

    .formSubmitBtn {
        border-radius: 20px !important;
        width: 100%;
        margin: 10px 0 0 0;
    }
}