#mapColumn {
    padding: 0;
    height: 900px;
    width: 100%;
}

#markerText {
    color: #000000;
    font-size: 18px;
}

/* Media Queries Section */
@media screen and (max-width: 1800px) {
    #mapColumn {
        height: 600px;
    }

    #markerText {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    #mapColumn {
        height: 500px;
    }

    #markerText {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    #mapColumn {
        height: 400px;
    }

    #markerText {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    #mapColumn {
        height: 350px;
    }
}

@media screen and (max-width: 599px) {
    #mapColumn {
        height: 300px;
        margin-bottom: 5%;
    }
}
