/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 1);
}

/* General sidebar styles */
.bm-menu {
  background: #121212;
  padding: 2.5em 1.5em 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  height: 350px !important;
}

#closeNavBtn {
    position: absolute;
    top: 1%;
    right: 3%;
    background-color: transparent;
    border: none;
}

#closeNavBtn:focus {
    outline: none;
}

/* Wrapper for item list */
.bm-item-list {
  color: #FFFFFF;
  padding: 10% 0 0 0;
  white-space: nowrap;
}

/* Individual item */
.sidenavText, .socialText  {
  display: inline-block;
  margin: 0 0 0 15px;
}

.iconHolder{
    display: inline-block;
    position: relative;
}

#personHolder, #linkedInHolder {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: transparent url("../../assets/person/personIcon.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20px; /* Resize the background image to fit inside container */
}

#personButton:hover #personHolder {
    background: transparent url("../../assets/person/personHover.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20px; /* Resize the background image to cover the entire container */
}

#portfolioHolder {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: transparent url("../../assets/portfolio/portfolioIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 17px; 
}

#portfolioButton:hover #portfolioHolder {
    background: transparent url("../../assets/portfolio/portfolioHover.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 20px 17px; 
}

#teamHolder {
    display: inline-block;
    width: 20px;
    height: 12px;
    background: transparent url("../../assets/team/teamIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 12px; 
}

#teamButton:hover #teamHolder {
    background: transparent url("../../assets/team/teamHover.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 20px 12px; 
}

#contactHolder{
    display: inline-block;
    width: 20px; 
    height: 15px;
    background: transparent url("../../assets/contact/contactIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 15px; 
}

#contactButton:hover #contactHolder {
    background: transparent url("../../assets/contact/contactHover.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 20px 15px; 
}

#gitHubHolder {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: transparent url("../../assets/github/gitHub.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
}

#gitHubAnchor:hover #gitHubHolder {
    background: transparent url("../../assets/github/gitHubHover.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 20px 20px; 
}

#linkedInHolder {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: transparent url("../../assets/linkedin/linkedIn.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px; 
}

#linkedInAnchor:hover #linkedInHolder {
    background: transparent url("../../assets/linkedin/linkedInHover.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 20px 20px; 
}

.sideBarIcons{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Cross Icon item */
.bm-cross:focus {
    outline: none;
}

.sidebarButtons{
    background-color: transparent;
    margin: 0 0 10% 0;
    outline: none;
    border: none;
    color: #FFFFFF;
}

.sidebarButtons:hover {
    color: #00FFFF;
}

.sidebarButtons:focus {
    outline: none;
}

.bm-cross-button{
    width: 18px !important;
    height: 18px !important;
}

.navSeparator{
    background-color: #575757;
    margin: 0 0 10% 0;
    opacity: 0.5;
    height: 2px;
}

.socialLink{
    background-color: transparent;
    margin: 0 0 10% 0;
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 1px 6px;
}

.socialLink:focus {
    outline: none;
}

.socialLink:hover {
    color: #FF6725;
}