#footerContainer{
    position: absolute;
    padding: 1% 8% 0% 8%;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #121212;
}

#emailMe {
    color: #00ffff;
    text-decoration: underline;
}

.copyrightContainer {
    color: #FFFFFF;
}

.socialFooterContainer {
    margin: 0.5% 0 0 0;
    white-space: nowrap;
}

.builtWithCont {
    display: "inline-block";
    width: auto;
    height: 40px;
    position: relative;
    padding: 8px 0;
}

.builtWithWrap {
    width: 100%;
    height: 100%;
}
 
.footerBtnWrapper {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin: 18px 10px 0 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
}

.footerAnchorIcons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 7px;
}

#reactFooter {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin: 0 0 0 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
}

#reactLogoRotate {
    height: 100%;
    width: 100%;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Media Queries Section */
@media screen and (max-width: 1800px) {
    #footerContainer {
        font-size: 16px;
    }

    .footerBtnWrapper, #reactFooter {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 1200px) {
    #footerContainer {
        font-size: 15px;
    }

    .footerBtnWrapper, #reactFooter {
        width: 30px;
        height: 30px;
    }

    .footerAnchorIcons {
        padding: 5px;
    }
}

@media screen and (max-width: 900px) {
    #footerContainer {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    #footerContainer {
        font-size: 13px;
    }
}

@media screen  and (max-width: 599px) {
    #footerContainer {
        font-size: 12px;
    }
}
