#cardColumn {
    background-color: #121212;
    padding: 1%;
    height: 100%;
}

.projectImageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.projectPng{
    position: absolute;
    left: 50%;
    bottom: 0;
    max-width: 95%;
    max-height: 95%;
    transform: translate(-50%);
    box-shadow: 0px -10px 20px rgba(18, 18, 18, 0.54);
}

.projectTitle {
    color: #00FFFF;
    font-size: 30px;
}

.projectDescription {
    text-align: start;
    font-size: 18px;
}

.projectTechnologies {
    text-align: center;
    color: #00FFFF;
    font-size: 20px;
}

.projectLinks {
    text-align: end;
    color: #00FFFF;
    font-size: 20px;
}
/* ========================================= */
.techImgContainer{
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.techImgContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.techImgContainer {
  -ms-overflow-style: none;
}

.testTech {
    /* display: inline-block; */
    margin: 0 10px 0 0;
    flex: 0 0 auto;
}
/* ========================================= */
.appLinkContainer {
    text-align: end;
    white-space: nowrap;
    width: 100%;
}

.appButtons {
    font-size: 18px;
    display: inline-block;
    margin: 0 0 0 10px;
}

