.cardColumn {
    margin-top: 2%;
}

.portfolioCardMain {
    height: 100%;
    background-color: #242424 !important;
    color: #FFFFFF;
}

.projectImageWrapper {
    width: 100%;
    margin: 0 !important;
}

.projectPng{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 30px rgba(18, 18, 18, 0.54);
    border-radius: 0% !important;
}

.projectTitle {
    color: #00FFFF;
    font-size: 30px;
}

.projectDescription {
    font-size: 20px;
}

.appAnchors {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    box-shadow: 0px 0px 20px rgba(18, 18, 18, 0.692) !important;
    padding: 0 !important;
}

.appBtns {
    background-color: #FFFFFF !important;
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
    border: none !important;
    padding: 0 !important;
}

.appBtns:hover, .appAnchors:hover {
    cursor: pointer;
}

.buttonPngs {
    height: 60% !important;
}

