#cardColumn {
    background-color: #121212;
    padding: 1%;
    height: 100%;
}

.projectImageWrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.projectPng{
    position: absolute;
    left: 50%;
    bottom: 0;
    max-width: 95%;
    max-height: 95%;
    transform: translate(-50%);
    box-shadow: 0px -10px 20px rgba(18, 18, 18, 0.51);
}

.projectTitle {
    color: #00FFFF;
    font-size: 30px;
}

.projectDescription {
    font-size: 18px;
}

.projectTechnologies {
    color: #00FFFF;
    font-size: 20px;
}

