/* creating a font family here */
@font-face {
    font-family: terminalFont;
    src: url("./font/IBM_BIOS.ttf");
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
    background: #000000;
}

#pageContainer {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px;
}

a:link, a:visited, a:hover,a:focus,a:active{
    color: #FFFFFF;
    text-decoration: none;
}

.emphasisText {
    color: #00FFFF;
}

.usersNameText {
    color: #D94478;
}

.sectionsSeparator {
    background-color: #00ffff;
    margin: 0.5% 8% 0 8%;
    height: 4px;
    border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #242424 inset;
    -webkit-text-fill-color: #FFFFFF !important;
}




