/* creating a font family here */
@font-face {
    font-family: terminalFont;
    src: url("./font/IBM_BIOS.ttf");
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FFFFFF;
    height: 100vh;
}

a:link, a:visited, a:hover,a:focus,a:active{
    color: #FFFFFF;
    text-decoration: none;
}

.emphasisText {
    color: #00FFFF;
}

.usersNameText {
    /* color: #bc13fe; */
    color: rgb(245, 2, 87);
}



