#aboutMeHolder {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
}

#triangleContainer{
    width: 70%;
    height: 85%;
    margin: 2% auto 0 auto;
}

#aboutInfoContainer{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aboutMeHeader{
    margin: 0 0 2% 0;
    font-weight: 600;
    text-align: center;
    color: #00ffff;
    font-size: 40px;
}

.aboutMeText {
    padding: 0 15% 0 15%;
    text-align: center;
    font-size: 25px;
    padding-right: 10%;
}