#aboutMeSection {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#aboutMeHeader{
    margin: 1% 8% 0 0;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    text-align: right;
}

.aboutMeText {
    color: #FFFFFF;
    font-size: 40px;
}

#selfPortrait{
    padding: 2% 0 5% 8%;
    width: 100%;
    height: 100%;
}
